h1{
    background-color: black;
    color: white;
    text-align: center;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
}

main{
    background-color: lightgray;
    padding: 1em;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoNbSVM9SXj0bS1TJKImJMJxcnKkecZ-ejXhgYKiyvlbQMGPS5GafPVBgpbh3R7mwaAM&usqp=CAU");
    background-repeat: repeat-x;
    margin: 0;
}